
* {
 	/* `otf-font-awesome` is required to be installed for icons */
	font-family: Linejoy;
	font-size: 16px;
   color: white;
	text-shadow: 0px 0px 2px @theme_text_color;
	padding: 0;
   margin: 0;
}

window#waybar {
   background: #303030;
   color: white;
}

tooltip {
    background-color: rgba(40, 40, 40, 1.0);
}

button {
   border: 0px;
   border-radius: 8px;
}


button:hover {
    background: inherit;
}

#workspaces button {
    border-radius: 8px;
}

#workspaces button:hover {
    border-radius: 8px;
    border: 0px solid rgba(0,255,167,0.0);
}

#workspaces button.focused {
   font-weight: bold;
   border: 1px solid white;
   border-radius: 8px;
   padding: 0px;
}

#workspaces button.active {
    border: 0px solid rgba(0,255,167,0.0);
    border-radius: 10px;
}

#workspaces button.urgent {
   background-color: transparent;
   color: #ff0000;
   border-radius: 10px;
}

#workspaces button.persistent {
   color: #555555; /* Dimmer color for idle workspaces */
   opacity: 0.5;
}

#mode {
   border: 0px solid #ff0000;
   transition-duration: 1s;
   border-radius: 0px;
   color: #ff0000;
   box-shadow: inset 0px -2px #ff0000;
}

#window {
/*    border: 1px solid rgba(0,255,169,0.0); */
    padding: 0px 5px;
}

#time {
   border: 2px solid rgba(0,255,169,0.0);
   text-decoration-line: underline;
   color: red;
}

#clock-4 {
   border: 2px solid rgba(0,255,169,0.0);
   text-decoration-line: underline;
   color: red;
}

#battery {
   border: 1px solid rgba(0,255,169,0.0);
}

#battery.charging, #battery.plugged {

}

@keyframes blink {
   to {
      border: 2px solid rgba(127, 40, 40, 1.0);
      color: #a04040;
   }
}

#battery.critical:not(.charging) {
   color: #ffa0a0;
   border: 2px solid rgba(255,40,40,0);
   animation-name: blink;
   animation-duration: 1.2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

label:focus {
   background-color: #000000;
}

#cpu {
    
    border: 1px solid rgba(0,255,169,0.0);
}


#idle_inhibitor {
   background-color: #404040;
   padding: 0px;
   margin: 0px;
}

#idle_inhibitor.activated {
   background-color: #808080;
   color: #404040;
}

#language {
   background: #404040;
   color: white;
   padding: 0 5px;
   margin: 0 5px;
   min-width: 16px;
}

#keyboard-state {
   background: #97e1ad;
   color: #00ffa9;
   padding: 0 0px;
   margin: 0 5px;
   min-width: 16px;
}

#keyboard-state > label {
   padding: 0 5px;
}

#keyboard-state > label.locked {
   background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
   background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#custom-start {
   font-size: 24px;
}

#custom-hotkeys {
   font-size: 24px;
}

#custom-sound {
   /*font-family: "Font Awesome 7 Free";*/
   font-size: 24px;
}

#custom-sound.off {
   color: #00ff00;
}

